.show-product {
  background-color: #F7F7F7;
}

.show-product .container{
  padding: 20px 0;
}

.item-wrapper .row > div{
  display: flex;
  flex-direction: row;
}

.item-image {
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.item-image .product-image {
  border-radius: 7px;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
  padding: 0 !important;
  margin: 20px;
  max-width: 350px;
  height: auto;
  margin: 20px auto;
}

.item-details .add-to-cart button, .item-details .add-to-cart button:hover, .item-details .add-to-cart button:focus {
  background-color: #26a69a;
  border: none;
  width: 185px;
}

.item-details .add-to-cart button:hover, .item-details .add-to-cart button:focus {
  background-color: #2bbbad;
  color: #333;
}

.item-details .add-to-cart button .add-icon {
  font-size: 28px;
  vertical-align: middle;
  color: #067B77;
  margin-right: 5px;
}

.item-details .add-to-cart {
  float: right;
}

.item-details {
  width: 50%;
}

.similar-products {
  height: 40em;
  overflow: scroll;
  margin: 0 3em;
  background-color: white;
}

.similar-product {
  height: 30em;
  width: 20em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: .5em;
  padding: 1em;
  background-color: white;
  transition: transform 300ms bounce;
}

.product-bio {
}

#product-name {
  padding: 1em 0 0;
  font-size: 1.5em;
  margin: .5em 0;
}

.product-info h2 {
}

.item-details .product-description {
  font-weight: lighter;
  margin: 0;
  clear: right;
  padding-top: 20px;
}

.show-product .product-image {
  width: 400px;
  height: 400px;
  padding: 20px;
}

.item-name {
  padding-left: 20px;
}

.item-name #product-name {
  font-size: 40px;
  border: none;
  margin-top: 0;
  padding-top: 10px;
}

.item-name #product-description {
  font-size: 18px;
  padding: 20px 0;
}

.item-name .product-price {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 300;
  color: #5F6D74;
}
.item-name .product-review {
  color: #5F6D7499;
  font-size: 13px;
  font-weight: 300;
}

.stars {
  display: flex;
}

.review-star {
  color: orange;
}

.add-to-cart {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-to-cart-text {
  padding: 10px;
  font-size: 20px;
}
