.subscribe {
    background-color: #F7F7F7;
    min-height: 150px;
}

.left {
    padding-top: 15px;
}

.left p {
    width: 300px;
    font-weight: 300;
    opacity: 0.5;
}

.right form {
    display: flex;
    flex-direction: row;
    padding-top: 44px;
}

.right form .form-control {
    height: 52px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 26px;
    font-size: 18px !important;
    font-weight: 300;
    padding: 0 20px;
    margin-right: 10px;
    border: none;
}


.right form .btn {
    color: #ffffff;
}