.footer {
  height: 220px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}
.footer > div {
  align-self: flex-start;
  padding: 30px 35px;
}
.footer-block1 div {

}
.footer-block1 {
  flex-grow: 0;
  flex-shrink: 0;
  width: 350px;
}
.footer-block2 {
  flex-grow: 3;
}
.footer-block3 {
  flex-grow: 3;
}

.footer-block1 div:not(.logo) {
  margin-top: 32px;
  margin-bottom: 33px;
}
.footer-block1 p, .footer-block1 div:not(.logo){
  margin-left: 23px;
}


.footer .logo {
  transform: translateY(10px);
}
.footer h6 {
  margin-bottom: 30px;
}
.footer ul li {
  float: left;
}
.footer ul li a {
  color: #8A949D;
}
.footer ul li:nth-child(nth-child(3)) {
  clear: left;
}
.footer ul li {
  margin-bottom: 5px;
  width: 200px;
  display: block;
}