.highlights {
  height: 120px;
  width: 100%;
  vertical-align: middle;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.highlights-title {
  font-weight: lighter;
  color: #79848A;
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  font-size: 36px;
  text-transform: none;
  padding: 0 10px;
}

.highlights-title a {
  color: #2BB2AC;
  transition: 0.35s;
}


.highlights-title a:hover {
  color: #79848A70;
}

.links-highlights {
  display: flex;
  justify-content: center;
}

p a {
  color: #999;
  font-size: 20px;
  text-decoration: none;
  padding: 0 1em;
  background: rgba(255, 255, 255, 0.7);
  margin: 2em;
  padding: 1em 2em;
  border-radius: 5px;
  transition: 0.5s;
  height: 1em;
}

p a:hover {
  background: #f75821;
  color: #fff;
  transition: 0.5s;
}

p a.selected {
  background: #f75821;
  color: #fff;
  transition: 0.5s;
}
